<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Cover</h3>
    </div>
  </header>

  <main role="main" class="inner cover">
    <!-- <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
    <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %> -->

    <p class="lead">Welcome to our baby shower invite page! If this is the first time you are visiting, we need you to verify your email by clicking here:</p>
    <%= link_to "Reset Password", new_password_path, class: "btn btn-primary", role: "button" %>
    <main class="form-signin">
      <%= form_with url: session_path do |form| %>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-control", id: "floatingInput" %>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "form-control", id: "floatingPassword" %>
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <% end %>
    </main>
  </main>

  <footer class="mastfoot mt-auto">
    <%# <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div> %>
  </footer>
</div>

