<%= render "events/main" do %>
  <div class="container-xxs px-0">
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><%=flash[:alert]%></div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><%=flash[:notice]%></div>
    <% end %>

    <% if @invite.errors.any? %>
      <% @invite.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
      <% end %>
    <% end %>

    <p class="lead">Register and RSVP online:</p>
    <%= form_with(model: @invite, url: signup_path(params[:code]), data: { turbo: false }) do |form| %>
      <div class="text-start">
        <div class="mb-2">
          <label for="rsvp_answer">Will be attending</label>

          <%= form.radio_button :rsvp_answer, "yes", required: true, class: "btn-check" %>
          <%= form.label :rsvp_answer_yes, "Yes", class: "btn btn-outline-success" %>

          <%= form.radio_button :rsvp_answer, "no", required: true, class: "btn-check" %>
          <%= form.label :rsvp_answer_no, "No", class: "btn btn-outline-danger" %>
        </div>

        <%= form.select :rsvp_count, [
          ["Number attending", ""],
          ["Only myself", "1"],
          ["Two guests", "2"],
          ["Three guests", "3"],
          ["Four guests", "4"],
          ["Five guests", "5"],
          ["Six guests", "6"],
          ["Seven guests", "7"]
        ], {selected: @invite.rsvp_count.to_s}, class: "form-select mb-4" %>

        <%= form.fields_for :user do |user| %>
          <%= user.hidden_field :full_name %>

          <label for="email_input">Email address</label>
          <%= user.email_field :email_address, required: true, autocomplete: "email_address", placeholder: "Enter your email address", class: "form-control mb-2", id: "email_input" %>

          <label for="password_input">Password</label>
          <%= user.password_field :password, required: true, autocomplete: "password", placeholder: "Enter your password", maxlength: 72, class: "form-control mb-2", id: "password_input" %>

          <label for="password_confirm_input">Confirm password</label>
          <%= user.password_field :password_confirmation, required: true, autocomplete: "confirm-password", placeholder: "Confirm your password", maxlength: 72, class: "form-control mb-4", id: "password_confirm_input" %>
        <% end %>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">RSVP</button>
    <% end %>
  </div>
  <hr/>
<% end %>
