<!--
<div class="align-self-center overflow-auto">
  <main class="container-xs text-white bg-dark text-center">
    <h1>Welcome, <%=Current.user.full_name.to_s%>!</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-black">Learn more</a>
    </p>
  </main>
</div>
-->
<div class="align-self-center overflow-auto">
  <main class="container-xs text-white bg-dark text-center">
    <h5>Our Little Prince is on the Way!</h5>
    <h1 class="display-3"><%=Current.user.full_name.to_s%></h1>
    <h4 class="text-uppercase">You are invited to <%=@event.name%></h3>
    <p class="text-uppercase">that will be held on</p>
    <h5><%=@event.event_time.strftime("%A, %b. %e %Y")%></h5>
    <p><small><%=@event.event_time.strftime("%l:%M %P")%></small></p>
    <p>
      <%=@event.location%><br/>
      <% if @event.address_1.present? %>
        <%=@event.address_1%><br/>
      <% end %>
      <%="#{@event.city}, #{@event.state} #{@event.zip}"%>
    </p>
    <h5>RSVP by <%=@event.rsvp_by.strftime("%b. #{@event.rsvp_by.day.ordinalize}")%></h5>
    <% @event.event_contacts.each do |contact| %>
      <h5><%=contact.name%>: <%=contact.phone_number%></h5>
    <% end %>
    <hr/>
    <p><small>We will be hosting a diaper raffle for those who wish to participate for a chance to win a prize!</small></p>
    <% if @event.event_registries.length > 0 %>
      <p><small>
        We are registered at

        <% @event.event_registries.each_with_index do |er, idx| %>
          <%=link_to er.name, er.link%><%=
            if @event.event_registries.length <= 2 && idx < @event.event_registries.length - 1
              " & "
            elsif @event.event_registries.length > 2
              if idx < @event.event_registries.length - 2
                ", "
              elsif idx < @event.event_registries.length - 1
                " & "
              end
            end
          %>
        <% end %>

        if you wish to browse our wish list.
      </small></p>
    <% end %>
  </main>
</div>
