<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Cover</h3>
    </div>
  </header>

  <main role="main" class="inner cover">
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><%=flash[:alert]%></div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><%=flash[:notice]%></div>
    <% end %>

    <p class="lead">Update your password</p>
    <main class="form-signin">
      <%= form_with url: password_path(params[:token]), method: :put do |form| %>
        <div class="form-floating">
          <%= form.password_field :password, required: true, autofocus: true, autocomplete: "new-password", placeholder: "Enter new password", maxlength: 72, class: "form-control top-border-input", id: "floatingPassword" %>
          <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating">
          <%= form.password_field :password_confirmation, required: true, autocomplete: "confirm-password", placeholder: "Repeat new password", maxlength: 72, class: "form-control bottom-border-input", id: "floatingPasswordConfirm" %>
          <label for="floatingPasswordConfirm">Password confirmation</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
      <% end %>
    </main>
  </main>

  <footer class="mastfoot mt-auto">
    <%# <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div> %>
  </footer>
</div>

